<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="tm-section-title">
            <%- center.companyInformation.companyName %>
          </div>
          <div class="tm-space-between">
            <div class="tm-display-flex">
              <img src="../user/img/icons/location-blue.png" class="tm-margin-r-10" alt="Location Icon" />
              <div class="tm-color-shadow">Cevizli, 44, Çifteler Cd., 34865 Kartal/İstanbul</div>
            </div>
            <div class="tm-display-flex">
              <div class="tm-color-dark">Düzenle</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 clinic-images">
              <img src="<%- center.companyInformation.photo[0]  %> " class="left-first mb-2"
                alt="<%- center.companyInformation.companyName  %>" width="100%" height="50%" />
              <img src="<%- center.companyInformation.photo[0]  %> " class="left-second mb-2"
                alt="<%- center.companyInformation.companyName  %>" width="100%" height="50%" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 clinic-images">
              <img src="<%- center.companyInformation.photo[0]  %> " class="right mb-2"
                alt="<%- center.companyInformation.companyName  %>" width="100%" height="100%" />
            </div>
          </div>
          <div class="sub-image row align-items-start mt-3">
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%" class="mb-2"
                alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%" class="mb-2"
                alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%" class="mb-2"
                alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%" class="mb-2"
                alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%" class="mb-2"
                alt="<%- center.companyInformation.companyName  %>" />
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-2">Gelecek Rezervasyonlarınız</div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Ayhan Fırat Fındıkoğlu</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Sabah Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Atakan Kantarcı</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Akşam Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Jane Cooper<span>Tatil Diyalizi</span></div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Öğlen Seansı</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-1-5">Geçmiş Rezervasyonlarınız</div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Ayhan Fırat Fındıkoğlu</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Sabah Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Atakan Kantarcı</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Akşam Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Jane Cooper<span>Tatil Diyalizi</span></div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Öğlen Seansı</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="admin-box">
            <div class="tm-process">
              <div class="tm-process-bar-content">
                <div>
                  <div class="tm-space-between">
                    <div class="tm-process-title">Merkez Sayfası Puanı</div>
                    <div class="tm-process-subtitle">%60</div>
                  </div>
                  <div class="tm-process-pers"></div>
                </div>
                <div class="tm-process-bar width-87 blue"></div>
                <div class="tm-process-pers-av">Bölge Ort. %90</div>
                <div class="tm-process-text">Merkez puanı %100 olan merkezlerin %30’luk bir oran ile daha fazla randevu
                  aldığı gözlemlenmiştir.</div>
                <div class="tm-process-link"><a href="#">Merkez puanı sayfasına git</a></div>
              </div>
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-1-5">Merkezinizin Performansı</div>
          <div class="admin-box custom">
            <div class="admin-single-box">
              <div class="admin-single-title">Ortalama Aylık Hasta Sayısı</div>
              <div class="total">45</div>
              <div class="average">Bölge Ort. 30</div>
            </div>
            <div class="admin-single-box">
              <div class="admin-single-title">İptal Olan Randevu Oranı</div>
              <div class="total">%10</div>
              <div class="average">Bölge Ort. %20</div>
            </div>
            <div class="admin-single-box">
              <div class="admin-single-title">Toplam Tedavi Edilen Hasta</div>
              <div class="total">325</div>
              <div class="average">Bölge Ort. 140</div>
            </div>
            <div class="admin-single-box">
              <div class="admin-single-title">Hasta Puan Ortalamanı</div>
              <div class="total">%99</div>
              <div class="average">Bölge Ort. %85</div>
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-1-5">Görünürlüğünüzü Arttırın</div>
          <div class="admin-text">Merkezinizin görünürlüğünü çeşitli seçenekler ile arttırmanız mümkün. Merkezinize 30
            KM uzaklıkta olan diğer merkezlerin görüntülenme oranları sizden %30 daha fazla durumdadır.</div>
        </div>
      </div>
    </div>

  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial:partials/_footer.html -->

  <%- include("../../partials/footer") %>

    <!-- partial -->
</div>