<div class="main-panel">

  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row index-company">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="tm-section-title">
            <%- center.companyInformation.companyName %>
          </div>
          <div class="tm-space-between mb-2">
            <div class="tm-display-flex">
              <img src="../user/img/icons/location-blue.png" class="icon" alt="Location Icon" />
              <div class="tm-color-shadow">Cevizli, 44, Çifteler Cd., 34865 Kartal/İstanbul</div>
            </div>
            <div class="tm-display-flex">
              <!-- <div class="tm-color-dark">Düzenle</div> -->
            </div>
          </div>
          <div class="row px-2">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-4 clinic-images">
              <img src="<%- center.companyInformation.photo[0]  %> " class="left-first mb-2 clinic-image"
                alt="<%- center.companyInformation.companyName  %>" width="100%" height="50%" />
              <img src="<%- center.companyInformation.photo[0]  %> " class="left-second mb-2 clinic-image"
                alt="<%- center.companyInformation.companyName  %>" width="100%" height="50%" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mb-4 clinic-images">
              <img src="<%- center.companyInformation.photo[0]  %> " class="right mb-2 clinic-image"
                alt="<%- center.companyInformation.companyName  %>" width="100%" height="100%" />
            </div>
          </div>
          <div class="sub-image row align-items-start mb-4 px-2">
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%"
                class="mb-2 clinic-image" alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%"
                class="mb-2 clinic-image" alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%"
                class="mb-2 clinic-image" alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%"
                class="mb-2 clinic-image" alt="<%- center.companyInformation.companyName  %>" />
            </div>
            <div class="col">
              <img src="<%- center.companyInformation.photo[0]  %> " width="100%" height="100%"
                class="mb-2 clinic-image" alt="<%- center.companyInformation.companyName  %>" />
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-2">Gelecek Rezervasyonlarınız</div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Ayhan Fırat Fındıkoğlu</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Sabah Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Atakan Kantarcı</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Akşam Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Jane Cooper<span>Tatil Diyalizi</span></div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Öğlen Seansı</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-1-5">Geçmiş Rezervasyonlarınız</div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Ayhan Fırat Fındıkoğlu</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Sabah Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Atakan Kantarcı</div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Akşam Seansı</div>
                  </div>
                </div>
              </div>
              <div class="admin-box">
                <div class="tm-display-flex tm-space-between">
                  <div>
                    <div class="admin-box-title">Jane Cooper<span>Tatil Diyalizi</span></div>
                    <div class="admin-box-text">Hemodiyaliz</div>
                  </div>
                  <div>
                    <div class="admin-box-text">15 Eylül 2021</div>
                    <div class="admin-box-text">Öğlen Seansı</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="admin-box">
            <div class="tm-process">
              <div class="tm-process-bar-content">
                <div>
                  <div class="tm-space-between">
                    <div class="tm-process-title">Merkez Sayfası Puanı</div>
                    <div class="tm-process-subtitle">%60</div>
                  </div>
                  <div class="tm-process-pers"></div>
                </div>
                <div class="tm-process-bar width-87 blue"></div>
                <div class="tm-process-pers-av">Bölge Ort. %90</div>
                <div class="tm-process-text">Merkez puanı %100 olan merkezlerin %30’luk bir oran ile daha fazla randevu
                  aldığı gözlemlenmiştir.</div>
                <div class="tm-process-link"><a href="#">Merkez puanı sayfasına git</a></div>
              </div>
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-1-5 mt-5">Merkezinizin Performansı</div>
          <div class="admin-box custom">
            <div class="admin-single-box">
              <div class="admin-single-title mx-1">Ortalama Aylık Hasta Sayısı</div>
              <div class="total">45</div>
              <div class="average mx-1">Bölge Ort. 30</div>
            </div>
            <div class="admin-single-box">
              <div class="admin-single-title mx-1">İptal Olan Randevular</div>
              <div class="total">%10</div>
              <div class="average mx-1">Bölge Ort. %20</div>
            </div>
            <div class="admin-single-box">
              <div class="admin-single-title mx-1">Toplam Tedavi Edilen Hasta</div>
              <div class="total">325</div>
              <div class="average mx-1">Bölge Ort. 140</div>
            </div>
            <div class="admin-single-box">
              <div class="admin-single-title mx-1">Hasta Puan Ortalamanı</div>
              <div class="total">%99</div>
              <div class="average mx-1">Bölge Ort. %85</div>
            </div>
          </div>
          <div class="tm-section-title tm-margin-t-1-5 mt-5">Görünürlüğünüzü Arttırın</div>
          <div class="admin-text">Merkezinizin görünürlüğünü çeşitli seçenekler ile arttırmanız mümkün. Merkezinize 30
            KM uzaklıkta olan diğer merkezlerin görüntülenme oranları sizden %30 daha fazla durumdadır.</div>
          <form>
            <div class="visibilty mb-1">Görünürlük Tarihinizi Seçin</div>
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <div class="d-flex justify-content-center date m-0 p-0">
                  <div class="mt-1" id="year">
                    <script>document.write(new Date().getFullYear());</script>
                  </div>
                </div>
                  <div class="month">
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month1">
                          <label class="form-check-label mx-0 mr-0" for="month1">
                            Ocak
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month2">
                          <label class="form-check-label mx-0 mr-0" for="month2">
                            Şubat
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month3">
                          <label class="form-check-label mx-0 mr-0" for="month3">
                            Mart
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month4">
                          <label class="form-check-label mx-0 mr-0" for="month4">
                            Nisan
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month5">
                          <label class="form-check-label mx-0 mr-0" for="month5">
                            Mayıs
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month6">
                          <label class="form-check-label mx-0 mr-0" for="month6">
                            Haziran
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month7">
                          <label class="form-check-label mx-0 mr-0" for="month7">
                            Temmuz
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month8">
                          <label class="form-check-label mx-0 mr-0" for="month8">
                            Ağustos
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month9">
                          <label class="form-check-label mx-0 mr-0" for="month9">
                            Eylül
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month10">
                          <label class="form-check-label mx-0 mr-0" for="month10">
                            Ekim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month11">
                          <label class="form-check-label mx-0 mr-0" for="month11">
                            Kasım
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0" type="checkbox" value="" id="month12">
                          <label class="form-check-label mx-0 mr-0" for="month12">
                            Aralık
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-center date m-0 p-0">
                    <button type=button onclick="azalt()" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                      </svg>
                    </button>
                  <input type=button id="sonuc" value="2022">
                  <button type=button onclick="arttir()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                  </svg></button> 
                  </div>
                  <div class="month">
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month1">
                          <label class="form-check-label mx-0 mr-0" for="month1">
                            Ocak
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month2">
                          <label class="form-check-label mx-0 mr-0" for="month2">
                            Şubat
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month3">
                          <label class="form-check-label mx-0 mr-0" for="month3">
                            Mart
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month4">
                          <label class="form-check-label mx-0 mr-0" for="month4">
                            Nisan
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month5">
                          <label class="form-check-label mx-0 mr-0" for="month5">
                            Mayıs
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month6">
                          <label class="form-check-label mx-0 mr-0" for="month6">
                            Haziran
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month7">
                          <label class="form-check-label mx-0 mr-0" for="passmonth7">
                            Temmuz
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month8">
                          <label class="form-check-label mx-0 mr-0" for="passmonth8">
                            Ağustos
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month9">
                          <label class="form-check-label mx-0 mr-0" for="passmonth9">
                            Eylül
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month10">
                          <label class="form-check-label mx-0 mr-0" for="passmonth10">
                            Ekim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0 mr-0" type="checkbox" value="" id="month11">
                          <label class="form-check-label mx-0 mr-0" for="passmonth11">
                            Kasım
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input mx-0" type="checkbox" value="" id="month12">
                          <label class="form-check-label mx-0 mr-0" for="passmonth12">
                            Aralık
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  function arttir() {
                    var sonuc = document.getElementById("sonuc");
                    sonuc.value = Number(sonuc.value) + 1;
                  }
                  function azalt() {
                    var sonuc = document.getElementById("sonuc");
                    sonuc.value = Number(sonuc.value) - 1;
                  }

                </script>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="calendar"></div>
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial:partials/_footer.html -->


  <%- include("../../partials/footer") %>

    <!-- partial -->
</div>