<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Size Özel Promosyonlar</div>
        <div class="admin-inner-text">Size ve merkezinize özel 4 adet özel promosyon teklifimiz mevcut, hemen inceleyebilirsiniz.</div>
        <div class="promotion-dates">Temmuz-Ağustos-Eylül 2021 döneminde geçerlidir.</div>

        <% promotions.forEach(promotion => { %>

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="tm-form-wide promotions">
              <div class="promotion-line">Son 5 gün 23 saat kalmıştır.</div>
              <div class="form-group radio small">
                <label class="container"
                  ><%- promotion.area %>
                  <input type="radio" checked="checked" name="radio2" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 left">
                  <div class="tm-font-semibold">Merkezinizin Tahmini Görüntülenme Sayısı</div>
                  <div class="tm-color-second tm-font-semibold tm-margin-1"><%- promotion.viewer %></div>
                  <div class="warning">Bu promosyon için kontenjan 500’dür. 300 Diyaliz Merkezi Bu Kampanyadan Yararlandı</div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 right">
                  <div>
                    <div class="tm-font-semibold">Standart Fiyat</div>
                    <div class="token-number old"><%- promotion.token * 1.5 %></div>
                  </div>
                  <div>
                    <div class="tm-font-semibold tm-color-second">Size Özel Fiyat</div>
                    <div class="token-number"><%- promotion.token %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="promotion-button">
              <a href="/panel/buy-promotions/<%- promotion._id  %>" class="btn-second">Promosyonu Satın Al</a>
            </div>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
