    <div class="tm-main-content" id="top">
        <div class="tm-top-bar single mixed tm-bg-background" id="tm-top-bar">
            
            <%- include("../../partials/top-navbar")  %>

        </div>
        <div class="tm-section tm-bg-img min article-background" id="tm-section-1">
            <div class="container">
                <div class="profile">
                    <div class="tm-header-title">
                        <%- blog.title %> 
                    </div>
                    <div class="tm-profile">
                        <img src="../user/img/profiles/profile.png" alt="Profile Icon" />
                        <div class="tm-profile-content">
                            <div class="tm-profile-title">Bu makale Esther Howard tarafından Ağustos 18, 2021 Tarihinde yazıldı.</div>
                            <div class="tm-profile-text">Basri Yılmaz tarafından tıbbi olarak gözden geçirildi, onaylandı.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-i" class="tm-p tm-pt-20">
            <div class="container">
                <div class="row">
                    
                    <%- include("../../partials/find-dialysis-center") %> 

                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                        <div class="tm-content">
                            <div class="tm-article-title">İçindekiler</div>
                            <ul>
                                <li><a href="">Aenean diam tortor enim condimentum morbi</a></li>
                                <li><a href="">Sagittis, porta turpis</a></li>
                                <li><a href="">Imperdiet ridiculus nulla egestas commodo at commodo</a></li>
                                <li><a href="">Est neque, faucibus morbi enim</a></li>
                            </ul>
                        </div>
                        <div class="tm-single-article">
                            <div class="tm-article-title"><%- blog.title %></div>
                            <div class="tm-article-subtitle"></div>
                            <p class="tm-article-text"><%- blog.content.substr(0,500) %></p>
                            <div class="tm-article-subtitle">Posuere sollicitudin</div>
                            <p class="tm-article-text"><%- blog.content.substr(0,1000) %></p>
                            <div class="tm-article-subtitle">Dolor Sit Amet</div>
                            <p class="tm-article-text">At augue justo urna diam, elit faucibus. Aliquet viverra eu a adipiscing malesuada blandit nunc. Sapien elementum et morbi phasellus orci tincidunt. Elit pellentesque elementum vivamus semper urna. Lorem pulvinar nisi aliquet ultricies id. Netus elit non enim, elit feugiat elementum aliquam viverra. Mauris dictum in cursus leo, curabitur. Est et, pretium volutpat dignissim ultrices tempor eu arcu.</p>
                            <p class="tm-article-text">Mi curabitur cursus viverra habitant duis porttitor. Pretium enim tempor eget habitant non auctor urna, feugiat. Vitae, sit scelerisque est blandit auctor enim. Sit facilisi feugiat amet nisi, etiam sed. Gravida lacus lacus id phasellus vitae at sit porta volutpat. </p>
                            <p class="tm-article-text">Pulvinar turpis nisl blandit amet. Ornare habitant purus consequat eu massa quisque. Lectus lacus adipiscing id urna, ridiculus egestas pharetra ut. Aliquam ipsum iaculis at sed justo. Amet suspendisse sit eget in odio. Nibh semper ut quam id sagittis fames. Justo, nunc consequat nisl magna diam senectus a. Amet mattis sed venenatis sed vulputate sagittis. Auctor integer mauris ultrices velit commodo eget diam sapien amet.</p>
                            <div class="tm-article-subtitle">Do At Augue Justo Urna Diam</div>
                            <p class="tm-article-text">At augue justo urna diam, elit faucibus. Aliquet viverra eu a adipiscing malesuada blandit nunc. Sapien elementum et morbi phasellus orci tincidunt. Elit pellentesque elementum vivamus semper urna. Lorem pulvinar nisi aliquet ultricies id. Netus elit non enim, elit feugiat elementum aliquam viverra. Mauris dictum in cursus leo, curabitur. Est et, pretium volutpat dignissim ultrices tempor eu arcu.</p>
                            <p class="tm-article-text">Mi curabitur cursus viverra habitant duis porttitor. Pretium enim tempor eget habitant non auctor urna, feugiat. Vitae, sit scelerisque est blandit auctor enim. Sit facilisi feugiat amet nisi, etiam sed. Gravida lacus lacus id phasellus vitae at sit porta volutpat. </p>
                            <p class="tm-article-text">Pulvinar turpis nisl blandit amet. Ornare habitant purus consequat eu massa quisque. Lectus lacus adipiscing id urna, ridiculus egestas pharetra ut. Aliquam ipsum iaculis at sed justo. Amet suspendisse sit eget in odio. Nibh semper ut quam id sagittis fames. Justo, nunc consequat nisl magna diam senectus a. Amet mattis sed venenatis sed vulputate sagittis. Auctor integer mauris ultrices velit commodo eget diam sapien amet.</p>
                        </div>
                        <div class="tm-article-socials">
                            <button class="btn btn-second small linkedin">
                                <img src="../user/img/icons/linkedin.png" alt="Linkedin Icon" />
                                Paylaş
                            </button>
                            <button class="btn btn-second small twitter">
                                <img src="../user/img/icons/twitter.png" alt="Twitter Icon" />
                                Paylaş
                            </button>
                            <button class="btn btn-second small facebook">
                                <img src="../user/img/icons/facebook.png" alt="Facebook Icon" />
                                Paylaş
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-ii" class="tm-p">
            <div class="container">
                <div class="tm-last-articles-title">Son Makaleler</div>
                <div class="tm-last-articles">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <a href="">
                                <div class="tm-last-articles-subtitle">Lorem Ipsum</div>
                                <div class="tm-last-articles-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, in etiam scelerisque morbi integer a magna. </div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <a href="">
                                <div class="tm-last-articles-subtitle">Lorem Ipsum</div>
                                <div class="tm-last-articles-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, in etiam scelerisque morbi integer a magna. </div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <a href="">
                                <div class="tm-last-articles-subtitle">Lorem Ipsum</div>
                                <div class="tm-last-articles-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, in etiam scelerisque morbi integer a magna. </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-iii" class="tm-p tm-pb-20">
            <div class="container">
                <div class="tm-font-semi-small tm-font-semibold">Yakınlarda Bulunan İlginizi Çekebilecek Diğer Diyaliz Merkezleri</div>
                <div class="row">
                    <div class="col spe">
                        <div class="tm-box">
                            <img src="../user/img/custom/center-i.png" alt="Custom Center I" />
                            <div class="tm-box-content">
                                <div class="tm-box-text">Türkmed</div>
                                <div class="tm-box-text">Diyaliz Merkezi</div>
                            </div>
                        </div>
                    </div>
                    <div class="col spe">
                        <div class="tm-box">
                            <img src="../user/img/custom/center-ii.png" alt="Custom Center II" />
                            <div class="tm-box-content">
                                <div class="tm-box-text">Sultanbeyli</div>
                                <div class="tm-box-text">Diyaliz Merkezi</div>
                            </div>
                        </div>
                    </div>
                    <div class="col spe">
                        <div class="tm-box">
                            <img src="../user/img/custom/center-iii.png" alt="Custom Center III" />
                            <div class="tm-box-content">
                                <div class="tm-box-text">Bodrum</div>
                                <div class="tm-box-text">Diyaliz Merkezi</div>
                            </div>
                        </div>
                    </div>
                    <div class="col spe">
                        <div class="tm-box">
                            <img src="../user/img/custom/center-iv.png" alt="Custom Center IV" />
                            <div class="tm-box-content">
                                <div class="tm-box-text">Karşıyaka</div>
                                <div class="tm-box-text">Diyaliz Merkezi</div>
                            </div>
                        </div>
                    </div>
                    <div class="col spe">
                        <div class="tm-box">
                            <img src="../user/img/custom/center-v.png" alt="Custom Center V" />
                            <div class="tm-box-content">
                                <div class="tm-box-text">Milas</div>
                                <div class="tm-box-text">Diyaliz Merkezi</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>