<head>
  <link rel="stylesheet" href="../user/css//clinic/all-view.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>

<%- include("../../partials/top-navbar") %>

<div id="country-main" class="p-5">
  <div class="container">
    <div class="row">
      <div class="title mb-3">
        <h1>Ülke ve Şehirlere Göre Diyaliz Merkezleri</h1>
        <p>Diyalize girmek istediğiniz ülkeyi seçiniz</p>
      </div>

      <% countries.forEach(country => { %>
      <div class="accordion mb-3" id="country">
        <div class="accordion-item">
          <h2 class="accordion-header" id="countryOne">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img src="../user/img/flags/turkey.png" width="35" height="25" alt="Flag Turkey" class="mb-1" /> <%- country._id  %>  <span class="mx-3"><%- country.count  %>  Diyaliz Merkezi</span> <i class="bi bi-chevron-down"></i></button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="countryOne" data-bs-parent="#countryOne">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <% cities.forEach(city => { %>
                    <p class="city"> <a href="/clinic/clinic-list?city=<%- city._id  %>"><%- city._id  %></a> <span>(<%- city.count  %> )</span></p>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include("../../partials/footer") %>
