<head>
  <link rel="stylesheet" href="../user/css/style.css" />
  <link rel="stylesheet" href="../user/css/clinic/clinic.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>

<%- include("../../partials/navbar") %>

  <div id="section-i" class="tm-p my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="clinic-map-open with-form">
            <button class="btn-second" data-toggle="modal" data-target="#mapModal">Harita Üzerinde Göster</button>
            <!-- Modal -->
            <div class="modal fade p-5" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                      <div class="clinic-center-box">
                        <img src="../user/img/clinic/centers/clinic-iii.png" alt="Clinic Center iii"
                          class="clinic-img" />
                        <div class="clinic-center-main-content">
                          <div class="clinic-center-box-content">
                            <div class="clinic-center-info">
                              <div class="title">Türkmed Diyaliz Merkezi</div>
                              <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content2">
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Kahvaltı Hizmeti</div>
                                <div class="span-text">Yemek Hizmeti</div>
                                <div class="span-text">Banka Anlaşmalı Merkez</div>
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Ücretsiz Wifi</div>
                                <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                              </div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content3">
                            <div class="right">
                              <button class="btn btn-second mx-3">Randevu Oluştur</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="clinic-center-box">
                        <img src="../user/img/clinic/centers/clinic-ix.png" alt="Clinic Center ix" class="clinic-img" />
                        <div class="clinic-center-main-content">
                          <div class="clinic-center-box-content">
                            <div class="clinic-center-info">
                              <div class="title">Bodrum Diyaliz Merkezi</div>
                              <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content2">
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Kahvaltı Hizmeti</div>
                                <div class="span-text">Yemek Hizmeti</div>
                                <div class="span-text">Banka Anlaşmalı Merkez</div>
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Ücretsiz Wifi</div>
                                <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                              </div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content3">
                            <div class="right">
                              <button class="btn btn-second mx-3">Randevu Oluştur</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="clinic-center-box">
                        <img src="../user/img/clinic/centers/clinic-x.png" alt="Clinic Center x" class="clinic-img" />
                        <div class="clinic-center-main-content">
                          <div class="clinic-center-box-content">
                            <div class="clinic-center-info">
                              <div class="title">Milas Diyaliz Merkezi</div>
                              <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content2">
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Kahvaltı Hizmeti</div>
                                <div class="span-text">Yemek Hizmeti</div>
                                <div class="span-text">Banka Anlaşmalı Merkez</div>
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Ücretsiz Wifi</div>
                                <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                              </div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content3">
                            <div class="right">
                              <button class="btn btn-second mx-3">Randevu Oluştur</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="clinic-center-box">
                        <img src="../user/img/clinic/centers/clinic-xi.png" alt="Clinic Center xi" class="clinic-img" />
                        <div class="clinic-center-main-content">
                          <div class="clinic-center-box-content">
                            <div class="clinic-center-info">
                              <div class="title">Karşıyaka Diyaliz Merkezi</div>
                              <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content2">
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Kahvaltı Hizmeti</div>
                                <div class="span-text">Yemek Hizmeti</div>
                                <div class="span-text">Banka Anlaşmalı Merkez</div>
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="span-text">Ücretsiz Wifi</div>
                                <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                              </div>
                            </div>
                          </div>
                          <div class="clinic-center-box-content3">
                            <div class="right">
                              <button class="btn btn-second mx-3">Randevu Oluştur</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96400.5203923409!2d29.188889743052176!3d40.97017486526555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad06bcdceeedd%3A0xc60a934d71edf37c!2sTurkmed%20Diyaliz%20Merkezi!5e0!3m2!1sen!2sde!4v1642511864286!5m2!1sen!2sde"
                        width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form class="tm-form-wide custom">
            <div class="form-group">
              <label for="job-dropdown">Tedavi Yöntemi</label>
              <div class="tm-color-shadow-2">
                <%- cookieValue.treatmentMethod %>
              </div>
            </div>
            <div class="form-group">
              <label for="job-dropdown">Haftalık Seans Sayısı</label>
              <div class="tm-color-shadow-2">
                <%- cookieValue.sessionsDayCount %> Seans
              </div>
            </div>
            <div class="form-group">
              <label for="job-dropdown">Tercih Edilen Tedavi Günleri</label>
              <div class="tm-color-shadow-2">
                <%- cookieValue.sessionsDay %>
              </div>
            </div>
            <div class="form-group clinic-check-dates">
              <div class="checkin">
                <label for="check-in">Check-in Tarihi</label>
                <div class="tm-color-shadow-2">
                  <%- cookieValue.checkInDate %>
                </div>
              </div>
              <div class="checkout">
                <label for="check-out">Check-out Tarihi</label>
                <div class="tm-color-shadow-2">
                  <%- cookieValue.checkOutDate %>
                </div>
              </div>
            </div>
            <div class="form-group tm-margin-t-1">
              <label for="job-dropdown">Tercih Edilen Seans</label>
              <div class="tm-color-shadow-2">
                <%- cookieValue.session %>
              </div>
            </div>
          </form>
          <div class="tm-content small-content">
            <img src="../user/img/clinic/icons/virus.png" width="20%" height="20%" alt="Icon Virus" />
            <div class="covid tm-f-600">Covid 19 Kapsamı önlemleri sebebiyle sağlık bakanlığı uyarılarınca yemek
              hizmetleri durdurulmuştur.</div>
          </div>
          <form class="tm-form-wide custom">
            <div class="tm-color-second tm-f-600 tm-fa-1-5x tm-margin-b-1">Tesis Özellikleri</div>
            <hr />
            <div class="form-group">
              <label for="job-dropdown mb-5">Diyaliz Tedavisi Tipi</label>
              <div class="tm-color-primary mt-2 mb-2">Hemodiyaliz</div>
            </div>
            <hr />
            <div class="form-group">
              <label for="job-dropdown mb-5">Seans İçi Hizmetler</label>
              <div class="tm-color-primary mt-2 mb-2">Seans İçi Yiyecek Sunumu</div>
            </div>
            <hr />
            <div class="form-group">
              <label for="job-dropdown mb-5">Tesis İçi İmkanlar</label>
              <div class="tm-color-primary mt-2 mb-2">Tekerlekli Sandalye Kullanımına Uygun</div>
            </div>
            <hr />
            <div class="form-group">
              <label for="job-dropdown mb-5">Merkez Binası Tipi</label>
              <div class="tm-color-primary mt-2 mb-2">Müstakil Binalı Merkezler</div>
            </div>
            <hr />
            <div class="form-group">
              <label for="job-dropdown mb-5">Diyaliz Merkezleri</label>
              <div class="tm-color-primary mt-2 mb-2">Kamu Diyaliz Merkezleri</div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <div class="clinic-center-box">
            <img src="../user/img/clinic/centers/clinic-iii.png" class="clinic-center" alt="Clinic Center iii" />
            <div class="clinic-center-box-content">
              <div class="clinic-center-info">
                <div class="title pr-5 mb-2">
                  <%- center.companyInformation.companyName %>
                </div>
                <div class="text">
                  <%- center.address.addressDetailText %>
                </div>
              </div>
              <div class="clinic-center-points">
                <div class="clinic-center-point">
                  <div class="point">
                    <div class="title">Çok İyi</div>
                    <div class="text">2500 inceleme</div>
                  </div>
                  <div class="circle puan">9.8</div>
                </div>
                <div class="clinic-center-brands">
                  <img src="../user/img/brands/JCI.png" alt="Brand JCI" />
                  <img src="../user/img/brands/ISO.png" alt="Brand ISO" />
                </div>
              </div>
            </div>
          </div>
          <div class="clinic-form-box">
            <div class="clinic-form-title">Kişisel Bilgiler</div>
            <div class="clinic-form-inner-box">
              <div class="alert alert-primary" role="alert">
                <img src="../user/img/clinic/icons/error-circle.png" alt="Error Circle Icon" />Neredeyse bitti! Sadece *
                gerekli bilgilerinizi doldurun.
              </div>
              <form class="tm-form-wide" action="/clinic/new-clinic-appointment" method="POST">
                <div class="form-group">
                  <label for="name-surname">Ad Soyad <span class="mandatory">*</span></label>
                  <input type="text" disabled name="nameSurname" class="form-control" id="name-surname"
                    value="<%- user.nameSurname  %> " />
                </div>
                <div class="form-group">
                  <label for="email">Email Adresi <span class="mandatory">*</span></label>
                  <input type="email" name="email" disabled class="form-control" id="email" aria-describedby="emailHelp"
                    value="<%- user.email  %> " />
                </div>
                <div class="form-group">
                  <label for="date">Doğum Tarihiniz <span class="mandatory">*</span></label>
                  <input type="text" name="birthDate" disabled class="form-control" id="birthDate"
                    value="<%- birthDate %> " />
                </div>

                <div class="form-group" id="kimIcın" name="kimIcın">
                  <label>Kim İçin Rezervasyon Almak İstiyorsunuz <span class="mandatory">*</span></label>
                  <div class="d-flex">
                    <div class="inline-checkboxes">
                      <div class="form-group not-border checkbox">
                        <input type="radio" name="radios" class="form-check-input mx-0" id="personRezervation1" />
                        <label class="form-check-label mx-0" for="personRezervation1">Kendim</label>
                      </div>
                      <div class="form-group not-border checkbox">
                        <input type="radio" name="radios" class="form-check-input mx-0" id="personRezervation2" />
                        <label class="form-check-label mx-0" for="personRezervation2">Ailemden Biri</label>
                      </div>
                      <div class="form-group not-border checkbox">
                        <input type="radio" name="radios" class="form-check-input mx-0" id="personRezervation3" />
                        <label class="form-check-label mx-0" for="personRezervation3">Bir Tanıdığım </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name-surname2">Diyalize Girecek Kişinin Adı Soyadı <span class="mandatory">
                      *</span></label>
                  <input type="text" name="patientNameSurname" class="form-control" id="name-surname2"
                    placeholder="Adınız Soyadınız" />
                </div>
                <div class="form-group">
                  <label for="situation">Hepatit Marker Durumunuzu Belirtiniz <span class="mandatory"> *</span></label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Hepatit Marker Durumunuz</option>
                    <option value="1">Hepatit Negatif</option>
                    <option value="2">Hepatit B Pozitif</option>
                    <option value="3">Hepatit C Pozitif</option>
                  </select>
                </div>
                SİGORTA DUZENLENECEK....
                <div class="form-group">
                  <label>Diyalize Girecek Kişinin Sigorta Durumu <span class="mandatory">*</span></label>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1" value="SSK" />
                    <label class="form-check-label" for="exampleRadio1">SSK</label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="Yeşilkart Sigortalısı" />
                    <label class="form-check-label" for="exampleRadio1">Yeşilkart Sigortalısı</label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="Banka Sigortalısı" />
                    <label class="form-check-label" for="exampleRadio1">Banka Sigortalısı</label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="Yurtdışı Sigortalısı" />
                    <label class="form-check-label" for="exampleRadio1">Yurtdışı Sigortalısı</label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="Özel Sigortalı" />
                    <label class="form-check-label" for="exampleRadio1">Özel Sigortalı </label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="EHIC (Europan Health Insurance Card)" />
                    <label class="form-check-label" for="exampleRadio1">EHIC (Europan Health Insurance Card) </label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="Global Health Insurance Card (GHIC)" />
                    <label class="form-check-label" for="exampleRadio1">Global Health Insurance Card (GHIC) </label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1"
                      value="Sigortam Yok/Kendim Ödeyeceğim" />
                    <label class="form-check-label" for="exampleRadio1">Sigortam Yok/Kendim Ödeyeceğim </label>
                  </div>
                  <div class="form-group not-border checkbox form-check">
                    <input type="radio" name="insurance" class="form-check-input" id="exampleRadio1" value="Diğer" />
                    <label class="form-check-label" for="exampleRadio1">Diğer</label>
                  </div>
                </div>
                <div class="clinic-form-title my-4 mb-3">Adres Bilgileri</div>
                <div class="form-group">
                  <label for="address">Adresinizi Girin <span class="mandatory">*</span></label>
                  <input type="text" name="addressDetailText" class="form-control" id="address"
                    placeholder="Adresinizi Girin" />
                </div>
                <div class="form-group">
                  <label for="job-dropdown">Şehir<span class="mandatory">*</span></label>
                  <input type="text" name="city" class="form-control" id="address" placeholder="İl" />
                </div>
                <div class="form-group">
                  <label for="district">İlçe <span class="mandatory">*</span></label>
                  <input type="text" name="district" class="form-control" id="district" placeholder="İlçe" />
                </div>
                <div class="form-group">
                  <label for="postcode">Posta Kodu <span class="mandatory">*</span></label>
                  <input type="text" name="zipCode" class="form-control" id="zipCode" placeholder="Posta Kodu" />
                </div>
                <div class="form-group">
                  <label for="tel">Telefon Numarası <span class="mandatory">*</span></label>
                  <input type="tel" name="phone" class="form-control" id="phone" placeholder="Telefon Numarası" />
                </div>
                <div class="form-group">
                  <div class="warning mb-3">Tesisin randevunuzu onaylayabilmesi için gereklidir.</div>
                </div>
                <div class="clinic-form-title mb-2">Özel İstekleriniz</div>
                <div class="clinic-form-text">Özel istekler garanti edilemez, ancak merkez ihtiyaçlarınızı karşılamak
                  için elinden geleni yapacaktır. Rezervasyonunuz tamamlandıktan sonra da her zaman özel talepte
                  bulunabilirsiniz.</div>
                <div class="clinic-form-inner-box wide">
                  <div class="form-group" id="desc">
                    <textarea class="form-control" id="note" rows="5" name="note"
                      placeholder="Merkezinde ki sessiz odalardan birisinde tedavimi görmek istiyorum. Migren sorunum olduğu için yüksek sesli ortamlarda problem yaşamaktayım bu konuda bana yardımcı olabilir misiniz?"></textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-button-next">
                  <button type="submit" class="btn btn-second">Randevuyu Tamamla</button>
                  <!-- Button trigger modal -->
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel">Randevu Tamamlandı</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">24 ila 72 saat içerisinde randevunuz merkez tarafından incelenerek
                          onaylayacaktır ya da randevunuz için tarih değişikliği talep edecektir.</div>
                        <div class="d-grid gap-2 p-3">
                          <button type="button" class="btn btn-second">Anasayfaya Dön</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-iii" class="tm-bg-white tm-p">
    <div class="container">
      <div class="row">
        <div class="brands">
          <img src="../user/img/brands/JCI.png" alt="Brand JCI" class="height-100" />
          <img src="../user/img/brands/ISO.png" alt="Brand ISO" class="height-80" />
          <img src="../user/img/brands/sks.png" alt="Brand sks" class="height-100" />
          <img src="../user/img/brands/health.png" alt="Brand health" class="height-80" />
        </div>
      </div>
    </div>
  </div>

  <!--======= NEWSLETTER =====-->
  <div id="section-xi" class="tm-bg-dark-blue">
    <div class="container tm-p-4 d-flex align-items-center justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 mt-2">
        <div class="row">
          <div class="tm-text-white mb-3 text-center newsletter">Son gelişmelerden ve diyaliz fırsatlarından haberdar
            olabilmek
            için mail listemize abone olabilirsiniz.</div>
          <div class="form-group bottom blue-input">
            <input name="check-in" type="text" class="form-control form-control-md" id="inputCheckIn"
              placeholder="dialysing@demo.com.tr" />
            <img src="../user/img/icons/arrow.png" class="mt-0" alt="Icon Arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>