<head>
  <link rel="stylesheet" href="../user/css/style.css" />
  <link rel="stylesheet" href="../user/css/clinic/clinic.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>
<div class="tm-main-content tm-main-background" id="top">
  <%- include("../../partials/clinic-list-navbar") %>
  <div class="tm-section tm-bg-img" id="tm-section-1">
    <div class="ie-container-width-fix-2">
      <div class="container ie-h-align-center-fix">
        <div class="row">
          <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix text-center tm-header-content">
            <div class="tm-header-title"><span><%- city %> </span> Diyaliz Merkezleri</div>
            <div class="tm-header-text">Tarihlerinizi girin ve aradığınız lokasyona en yakın diyaliz merkezini bulun</div>

            <form action="/clinic/clinic-list" method="GET" class="tm-search-form pt-2">
              <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-element location-main">
                  <img src="../user/img/icons/location.png" class="tm-form-element-icon" alt="Icon Location" />
                  <input name="city" type="text" class="form-control first-child" id="city" name="city" placeholder="Lokasyon Girin" />
                </div>
                <div class="form-group tm-form-element date">
                  <img src="../user/img/icons/calendar.png" class="tm-form-element-icon" alt="Icon Calendar" />
                  <input name="check-in" type="date" class="form-control date" id="inputCheckIn" placeholder="Diyaliz Tarihinizi Seçiniz" />
                  <img src="../user/img/icons/down.png" class="tm-form-element-icon-small icon-down dateicon" alt="Icon Down" />
                </div>
                <div class="form-group tm-form-element search">
                  <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search mx-2"></i> <span key="centerFind">Diyaliz Bul</span></button>
                </div>
              </div>
            </form>

            <div class="row capatalize">
              <div class="row justify-content-md-center">
                <div class="col col-lg-4 text-center">
                  <h6 class="text-white"><img src="../user/img/icons/tick.png" class="img-fluid mx-1" alt="location" /><span key="cash"> Rezervasyon ücreti yok</span></h6>
                </div>
                <div class="col-md-auto text-center">
                  <h6 class="text-white"><img src="../user/img/icons/tick.png" class="img-fluid mx-1" alt="location" /><span key="creditCard"> Kredi kartı yok</span></h6>
                </div>
                <div class="col col-lg-4 text-center">
                  <h6 class="text-white"><img src="../user/img/icons/tick.png" class="img-fluid mx-1" alt="location" /> <span key="cancelEasy"> Kolayca rezervasyon iptali</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-i" class="mt-5 tm-p tm-pt-20 tm-pb-20">
    <div class="container">
      <div class="row">
        <%- include("../../partials/filter") %>

        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
          <div class="clinic-map tm-margin-b-1">
            <div class="city-list"><%- city  %>  İlinde <%- list.length %> Adet Diyaliz Merkezi Bulundu</div>
            <!-- <div class="clinic-map-open">
              <button class="btn-second" data-toggle="modal" data-target="#mapModal">Harita Üzerinde Göster</button>
              
              <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-iii.png" alt="Clinic Center iii" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">element.companyInformation.companyName</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <hr />
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-ix.png" alt="Clinic Center ix" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">Bodrum Diyaliz Merkezi</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-x.png" alt="Clinic Center x" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">Milas Diyaliz Merkezi</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-xi.png" alt="Clinic Center xi" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">Karşıyaka Diyaliz Merkezi</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96400.5203923409!2d29.188889743052176!3d40.97017486526555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad06bcdceeedd%3A0xc60a934d71edf37c!2sTurkmed%20Diyaliz%20Merkezi!5e0!3m2!1sen!2sde!4v1642511864286!5m2!1sen!2sde" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
       
          <div class="clinic-filter tm-margin-b-1">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-second">Bizim Seçtiklerimiz</div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-forth">Mesafeye Göre</div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-forth">Puanlamaya Göre</div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-forth">Toplam Yorum Sayısı</div>
              </div>
            </div>
          </div>

          <% list.forEach(element => { %>
          <div class="clinic-center-box">
            <!-- <img src="../user/img/clinic/centers/clinic-ix.png" alt="Clinic Center iii" class="clinic-img" /> -->
            <% if (element.companyInformation.photo[0]) { %>
            <img src="<%- element.companyInformation.photo[0]%>" alt="Clinic Center iii" class="clinic-img" />
            <% }else{ %>
            <img src="../user/img/clinic/centers/clinic-iii.png" alt="Clinic Center iii" class="clinic-img" />
            <% } %>
            <div class="clinic-center-main-content">
              <div class="clinic-center-box-content">
                <div class="clinic-center-info">
                  <div class="text">2015 Yılından Beri Hizmet Vermekte</div>
                  <div class="title"><%- element.companyInformation.companyName %></div>
                  <div class="tm-display-flex">
                    <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                    <div class="span-text"> Öne Çıkan Merkez</div>
                  </div>
                </div>
                <div class="clinic-center-points">
                  <div class="clinic-center-point">
                    <div class="point">
                      <div class="title">Çok İyi</div>
                      <!-- <div class="text">2500 inceleme</div> -->
                    </div>
                    <div class="circle">9.8</div>
                  </div>
                </div>
              </div>
              <div class="clinic-center-box-content2">
                <div class="services">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="span-text">Kahvaltı Hizmeti</div>
                      <div class="span-text">Yemek Hizmeti</div>
                      <div class="span-text">Banka Anlaşmalı Merkez</div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="span-text">Ücretsiz Wifi</div>
                      <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <!-- <i class="fa fa-heart clicked"></i> -->
                  <div class="clinic-center-brands">
                    <img src="../user/img/brands/JCI.png" alt="Brand JCI" />
                    <img src="../user/img/brands/ISO.png" alt="Brand ISO" />
                  </div>
                </div>
              </div>
              <div class="clinic-center-box-content3">
                <div class="left">
                  <!-- <div class="attention"><img src="../user/img/clinic/icons/attention.png" alt="Icon Attention" />Seçtiğiniz tarihlerde son 2 adet uygun seans kalmıştır.</div> -->
                  <!-- <div class="users"><img src="../user/img/clinic/icons/3-User.png" alt="Icon 3-User" />Bu ay 15 kişi bu diyaliz merkezini inceledi</div> -->
                </div>
                <div class="right">
                  <% if (element.isActive) { %>
                  <a href="/clinic/<%- element._id %>" class="btn btn-second">Randevu Oluştur</a>
                  <% } else{ %>
                  <a href="/clinic/<%- element._id %>" class="btn btn-second">Merkez Profiline Bak</a>

                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>

          <nav class="tm-p d-flex justify-content-center">
            <ul class="pagination">
              <% if (false) { %>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <% } %> <% for( let index = 0; index < counter; index++ ) { %> <% if (index == 0) { %>
              <li class="page-item"><a class="page-link" href="/clinic/clinic-list?city=<%- city %>"><%- index+1 %> </a></li>
              <% }else{ %>
              <li class="page-item"><a class="page-link" href="/clinic/clinic-list?city=<%- city %>&page=<%- index %>"><%- index+1 %> </a></li>
              <% } %> <% } %> <% if (false) { %>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!--======= NEWSLETTER =====-->
  <div id="section-xi" class="tm-bg-dark-blue">
    <div class="container tm-p-4">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="tm-text-white mb-3">Son gelişmelerden ve diyaliz fırsatlarından haberdar olabilmek için mail listemize abone olabilirsiniz.</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
          <div class="form-group bottom blue-input text-center">
            <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="dialysing@demo.com.tr" />
            <img src="../user/img/icons/arrow.png" class="mt-1" alt="Icon Arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
</div>

<script>
  let output = document.getElementById("result");
  let distance = document.getElementById("distance");

  function changeValue(value) {
    output.innerHTML = `${parseInt(value)}`;

    /* If this method is used, it is necessary to develop a transformation method. */
    let result = parseInt(value) * 3;

    distance.style.marginLeft = `${result}px`;
  }

  changeValue(40);
</script>
