<head>
  <link rel="stylesheet" href="../user/css/style.css" />
  <link rel="stylesheet" href="../user/css/clinic/clinic.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>
<div class="tm-main-content tm-main-background" id="top">

  <%- include("../../partials/find-center-navbar") %> 


  <div id="section-i" class="tm-p tm-pt-20 tm-pb-20">
    <div class="container">
      <div class="row">
        <%- include("../../partials/filter") %>

        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
          <div class="clinic-map tm-margin-b-1">
            <div class="tm-section-title-2">İstanbul İlinde 4 Adet Diyaliz Merkezi Bulundu</div>
            <div class="clinic-map-open">
              <button class="btn-second" data-toggle="modal" data-target="#mapModal">Harita Üzerinde Göster</button>
              <!-- Modal -->
              <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-iii.png" alt="Clinic Center iii" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">element.companyInformation.companyName</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <hr />
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-ix.png" alt="Clinic Center ix" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">Bodrum Diyaliz Merkezi</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-x.png" alt="Clinic Center x" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">Milas Diyaliz Merkezi</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="clinic-center-box">
                          <img src="../user/img/clinic/centers/clinic-xi.png" alt="Clinic Center xi" class="clinic-img" />
                          <div class="clinic-center-main-content">
                            <div class="clinic-center-box-content">
                              <div class="clinic-center-info">
                                <div class="title">Karşıyaka Diyaliz Merkezi</div>
                                <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content2">
                              <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Kahvaltı Hizmeti</div>
                                  <div class="span-text">Yemek Hizmeti</div>
                                  <div class="span-text">Banka Anlaşmalı Merkez</div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <div class="span-text">Ücretsiz Wifi</div>
                                  <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                                </div>
                              </div>
                            </div>
                            <div class="clinic-center-box-content3">
                              <div class="right">
                                <button class="btn btn-second">Randevu Oluştur</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96400.5203923409!2d29.188889743052176!3d40.97017486526555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad06bcdceeedd%3A0xc60a934d71edf37c!2sTurkmed%20Diyaliz%20Merkezi!5e0!3m2!1sen!2sde!4v1642511864286!5m2!1sen!2sde" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clinic-filter tm-margin-b-1">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-second">Bizim Seçtiklerimiz</div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-forth">Mesafeye Göre</div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-forth">Puanlamaya Göre</div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="btn-forth">Toplam Yorum Sayısı</div>
              </div>
            </div>
          </div>

          <% list.forEach(element => { %>
          <div class="clinic-center-box">
            <!-- <img src="../user/img/clinic/centers/clinic-ix.png" alt="Clinic Center iii" class="clinic-img" /> -->
            <img src="<%- element.companyInformation.photo[0] %>" alt="Clinic Center iii" class="clinic-img" />
            <div class="clinic-center-main-content">
              <div class="clinic-center-box-content">
                <div class="clinic-center-info">
                  <div class="text">2015 Yılından Beri Hizmet Vermekte</div>
                  <div class="title"><%- element.companyInformation.companyName %></div>
                  <div class="tm-display-flex">
                    <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                    <div class="span-text">Öne Çıkan Merkez</div>
                  </div>
                </div>
                <div class="clinic-center-points">
                  <div class="clinic-center-point">
                    <div class="point">
                      <div class="title">Çok İyi</div>
                      <div class="text">2500 inceleme</div>
                    </div>
                    <div class="circle">9.8</div>
                  </div>
                </div>
              </div>
              <div class="clinic-center-box-content2">
                <div class="services">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="span-text">Kahvaltı Hizmeti</div>
                      <div class="span-text">Yemek Hizmeti</div>
                      <div class="span-text">Banka Anlaşmalı Merkez</div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="span-text">Ücretsiz Wifi</div>
                      <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <i class="fa fa-heart clicked"></i>
                  <div class="clinic-center-brands">
                    <img src="../user/img/brands/JCI.png" alt="Brand JCI" />
                    <img src="../user/img/brands/ISO.png" alt="Brand ISO" />
                  </div>
                </div>
              </div>
              <div class="clinic-center-box-content3">
                <div class="left">
                  <div class="attention"><img src="../user/img/clinic/icons/attention.png" alt="Icon Attention" />Seçtiğiniz tarihlerde son 2 adet uygun seans kalmıştır.</div>
                  <div class="users"><img src="../user/img/clinic/icons/3-User.png" alt="Icon 3-User" />Bu ay 15 kişi bu diyaliz merkezini inceledi</div>
                </div>
                <div class="right">
                  <a href="/clinic/<%- element._id %>" class="btn btn-second">Randevu Oluştur</a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>

          <nav class="tm-p d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!--======= NEWSLETTER =====-->
  <div id="section-xi" class="tm-bg-dark-blue">
    <div class="container tm-p-4">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="tm-text-white mb-3">Son gelişmelerden ve diyaliz fırsatlarından haberdar olabilmek için mail listemize abone olabilirsiniz.</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
          <div class="form-group bottom blue-input text-center">
            <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="dialysing@demo.com.tr" />
            <img src="../user/img/icons/arrow.png" class="mt-1" alt="Icon Arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
</div>

<script>
  let output = document.getElementById("result");
  let distance = document.getElementById("distance");

  function changeValue(value) {
    output.innerHTML = `${parseInt(value)}`;

    /* If this method is used, it is necessary to develop a transformation method. */
    let result = parseInt(value) * 3;

    distance.style.marginLeft = `${result}px`;
  }

  changeValue(40);
</script>
