<% validationErrors.forEach(result => { %>
    <div class="alert <%- typeof result.status != 'undefined' ?  "alert-danger" : "alert-success"  %>  alert-dismissable fade show" role="alert">
        <strong><%- result.message %> %> </strong>
    </div>
<% }) %>

<% authorizationErrors.forEach(result => { %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <strong><%- result.message %> %> </strong>
    </div>
<% }) %>

<% loginMessages.forEach(result => { %>
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <strong><%- result.message %> %> </strong>
    </div>
<% }) %>

<% loginErrors.forEach(error => { %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <strong><%- error %> %> </strong>
    </div>
<% }) %>


<%- errors.forEach(error => { %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <strong><%- error %> %> </strong>
    </div>
<% }) %> 