<!--=========DIALYSING CENTER EXPLORE=========-->
<div id="section-ii" class="tm-p my-5">
  <div class="container">
    <div class="tm-inner-title">
      <div key="exploreTitle" class="tm-section-title">Diyaliz Merkezlerini Keşfedin</div>
      <a href="./clinic/all" class="tm-show-all-link" key="allView">Tümünü Görüntüle</a>
    </div>
    <div class="row">
      <% centers.forEach((center, index) => { %>
        <% if (index < 2) { %>
                      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box card">
          <img src="../user/img/custom/ankara.png" alt="Custom Ankara" />
          <div class="tm-box-content">
            <div class="tm-box-title"><a href="#"><%- center.companyInformation.companyName  %> </a></div>
            <div class="tm-box-text">300 <span key="dialysCenter">Diyaliz Merkezi</span></div>
          </div>
        </div>
      </div>
        <% } else { %>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box card">
          <img src="../user/img/custom/istanbul-anadolu.png" alt="Custom Istanbul Anadolu" />
          <div class="tm-box-content">
            <div class="tm-box-title"><a href="./clinic/clinic-list.html"><%- center.companyInformation.companyName  %> </a></div>
            <div class="tm-box-text">243 <span key="dialysCenter"><%- center.companyInformation.companyName  %> </span></div>
          </div>
        </div>
      </div>
          <% } %> 

      <% }) %>
      <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box card">
          <img src="../user/img/custom/istanbul-avrupa.png" alt="Custom Istanbul Avrupa" />
          <div class="tm-box-content">
            <div class="tm-box-title"><a href="./clinic/clinic-list.html">İstanbul - Avrupa</a></div>
            <div class="tm-box-text">280 <span key="dialysCenter">Diyaliz Merkezi</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box card">
          <img src="../user/img/custom/istanbul-anadolu.png" alt="Custom Istanbul Anadolu" />
          <div class="tm-box-content">
            <div class="tm-box-title"><a href="./clinic/clinic-list.html">İstanbul - Anadolu</a></div>
            <div class="tm-box-text">243 <span key="dialysCenter">Diyaliz Merkezi</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box card">
          <img src="../user/img/custom/bursa.png" alt="Custom Bursa" />
          <div class="tm-box-content">
            <div class="tm-box-title"><a href="#">Bursa</a></div>
            <div class="tm-box-text">223 <span key="dialysCenter">Diyaliz Merkezi</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box card">
          <img src="../user/img/custom/ankara.png" alt="Custom Ankara" />
          <div class="tm-box-content">
            <div class="tm-box-title"><a href="#">Kocaeli</a></div>
            <div class="tm-box-text">212 <span key="dialysCenter">Diyaliz Merkezi</span></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!--=========DIALYSING ARTICLE=========-->
<div id="section-iii" class="tm-p">
  <div class="container">
    <div class="tm-inner-title">
      <div key="articleTitle" class="tm-section-title">Diyalizi Tedaviniz İçin İlham Alın</div>
      <a key="allViewArticle" href="/blogs" class="tm-show-all-link">Tüm Makaleleri Görüntüle</a>
    </div>
    <div class="row">
      <% blogs.forEach(blog => { %>
             <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <a href="#">
            <img src="../user/img/custom/dialysis-i.png" alt="Dialysis I" /></a>
          <div class="tm-box-content">
            <div key="articleSubTitle1" class="tm-box-title"><%- blog.title  %> </div>
            <div key="articlesSubText1" class="tm-box-text"><%- blog.content.substring(0,50) %> </div>
          </div>
        </div>
      </div>
      <% }) %>
      <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <a href="./articles/diyalizde-beslenme.html"><img src="../user/img/custom/dialysis-ii.png" alt="Dialysis II" /></a>
          <div class="tm-box-content">
            <div key="articleSubTitle2" class="tm-box-title">Diyalizde Beslenme</div>
            <div key="articlesSubText2" class="tm-box-text">Faucibus sit libero in bibendum nunc neque, eu eleifend ac quam auctor non ultricies massa</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <a href="./articles/böbrek-nakli.html"><img src="../user/img/custom/dialysis-iii.png" alt="Dialysis III" /></a>
          <div class="tm-box-content">
            <div key="articleSubTitle3" class="tm-box-title">Böbrek Nakli</div>
            <div key="articlesSubText3" class="tm-box-text">Morbi elit vitae pharetra, nam placerat senectus libero non integer senectus nulla molestie ullamcorper massa ante massa vitae congue urna, adipiscing nisl</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <a href="./articles/istanbulda-en-iyi-diyaliz-merkezleri.html"><img src="../user/img/custom/dialysis-iv.png" alt="Dialysis IV" /></a>
          <div class="tm-box-content">
            <div key="articleSubTitle4" class="tm-box-title">İstanbulda ki En İyi 5 Diyaliz Merkezi</div>
            <div key="articlesSubText4" class="tm-box-text">A est sed nunc, et sagittis, velit scelerisque posuere suspendisse orci hendrerit non sed nascetur ut nunc id blandit at felis, aliquam volutpat nunc arcu ut diam mattis tristique penatibus lobortis scelerisque scelerisque mi orci</div>
          </div>
        </div>
      </div> -->
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <a href="/gfr-calculator"><img src="../user/img/custom/dialysis-v.png" alt="Dialysis V" /></a>
          <div class="tm-box-content">
            <div key="articleSubTitle5" class="tm-box-title">GFR Hesaplama</div>
            <div key="articlesSubText5" class="tm-box-text">Eget ut netus aliquet platea auctor volutpat est dictum mattis ac enim eget duis sit a, ac urna, tortor tincidunt mauris adipiscing facilisis ultricies aliquet sit imperdiet non sed lectus</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=========DIALYSING FAVORITE POINT=========-->
<div id="section-iv" class="tm-p">
  <div class="container">
    <div key="favoriteTitle" class="tm-section-title">Favori Tatil Diyalizi Seyahat Noktalarını Keşfedin</div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/antalya-iii.png" alt="Custom Antalya III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Antalya</div>
            <div key="favoriteSubTitle1" class="tm-box-text">Akdenizin Mavi İncisi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/bodrum-iii.png" alt="Custom Bodrum III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Bodrum</div>
            <div key="favoriteSubTitle2" class="tm-box-text">Maviye Açılan Yolculuk</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/kusadasi-iii.png" alt="Custom Kusadasi III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Kuşadası</div>
            <div key="favoriteSubTitle3" class="tm-box-text">Sahil Boyu Huzur</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/fethiye-iii.png" alt="Custom Fethiye III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Fethiye</div>
            <div key="favoriteSubTitle4" class="tm-box-text">Dillere Destan Güzellikler</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/izmir-iii.png" alt="Izmir III" />
          <div class="tm-box-content">
            <div class="tm-box-title">İzmir</div>
            <div key="favoriteSubTitle5" class="tm-box-text">Egenin İncisi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/mugla-iii.png" alt="Mugla III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Muğla</div>
            <div key="favoriteSubTitle6" class="tm-box-text">Denizin ve Güneşin Tadı</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=========DIALYSING SUGGESTION POINT=========-->
<div class="my-5" id="center">
  <div class="container">
    <div class="d-flex">
      <div key="suggestionTitle" class="tm-section-title">Önerilen Diyaliz Merkezleri</div>
    </div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3 mb-3">
      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <a href="./clinic/clinic.html"><img src="../user/img/custom/center-i.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom Ankara" /></a>
            <div class="position-absolute bottom-0 start-0 px-2">
              <h5 class="tm-box-title">Türkmed</h5>
              <p key="suggestion" class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-ii.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom Ankara" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h5 class="tm-box-title">Sultanbeyli</h5>
              <p key="suggestion" class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-iii.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom İstanbul - Avrupa" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h4 class="tm-box-title">Bodrum</h4>
              <p key="suggestion" class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-iv.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom İstanbul - Anadolu" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h4 class="tm-box-title">Karşıyaka</h4>
              <p key="suggestion" class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-v.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom Ankara" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h4 class="tm-box-title">Milas</h4>
              <p key="suggestion" class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--======= PATIENT THREAD =====-->
<div id="section-vi" class="tm-section-gradient tm-p">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tm-box-with-content">
              <div class="content" key="theread1">“Tatilimizi sağlıklı bir şekilde geçirmemizi sağladıkları için dialysing.com ailesine sonsuz teşekkürler, daima kullanacağımız bir sistem oldu ve bizlerden tam puan aldı. Diyaliz hastalarına tavsiye etmekten asla tereddüt etmeyeceğiz”.</div>
              <div class="tm-profile">
                <img src="../user/img/profiles/profile1.png" alt="Profile 1" />
                <div class="tm-personal-info">
                  <div class="tm-name">Neslihan Çelik</div>
                  <div class="tm-city">İzmir, Konak</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tm-box-with-content">
              <div class="content" key="theread2">“Memleketime gelirken diyaliz problemimi nasıl çözeceğimi düşünüyordum ve websitenize denk geldim. Bundan sonra dilediğim zaman aklımda hiç soru işareti kalmadan memleketime gelebileceğim için çok mutluyum, iyi ki böyle bir sistem oluşturmuşsunuz”.</div>
              <div class="tm-profile">
                <img src="../user/img/profiles/profile2.png" alt="Profile 2" />
                <div class="tm-personal-info">
                  <div class="tm-name">Berkan Tuğla</div>
                  <div class="tm-city">Amerika, Newyork</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="quote-content">
          <img src="../user/img/icons/quote-top.png" alt="Quote Top" class="quote-icon-top" />
          <div class="inner-content">
            <div class="tm-section-title" key="thereadTitle">Önemli olan sizsiniz ve biz sizler için buradayız.</div>
            <div class="text" key="thereadText">Güvenilir uzman kadromuz ve altyapımız ile diyaliz merkezi ve tatil diyalizi lokasyon aramalarınızda hizmetinizdeyiz.</div>
          </div>
          <img src="../user/img/icons/quote-bottom.png" alt="Quote Bottom" class="quote-icon-bottom" />
        </div>
        <div class="profiles">
          <div class="customer-count" key="thereadCustomer">167 Mutlu Hasta</div>
          <img src="../user/img/profiles/profile2.png" alt="Profile 2" />
          <img src="../user/img/profiles/profile3.png" class="profile3" alt="Profile 3" />
          <img src="../user/img/profiles/profile4.png" class="profile4" alt="Profile 4" />
          <img src="../user/img/profiles/profile5.png" class="profile5" alt="Profile 5" />
          <img src="../user/img/profiles/profile6.png" class="profile6" alt="Profile 6" />
          <img src="../user/img/profiles/profile7.png" class="profile7" alt="Profile 7" />
          <img src="../user/img/profiles/profile8.png" class="profile8" alt="Profile 8" />
        </div>
      </div>
    </div>
  </div>
</div>

<!--======= LIKED CENTER =====-->
<div id="section-vii" class="tm-p">
  <div class="container">
    <div class="tm-section-title" key="likedTitle">Beğenilen Diyaliz Merkezleri</div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/liked-i.png" alt="Custom Liked I" />
          <div class="tm-box-content">
            <div class="tm-box-title">Milas <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/liked-ii.png" alt="Custom Liked II" />
          <div class="tm-box-content">
            <div class="tm-box-title">Keçiören <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/liked-iii.png" alt="Custom Liked III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Ankara <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-vi.png" alt="Custom Liked VI" />
          <div class="tm-box-content">
            <div class="tm-box-title">Türkmed <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-v.png" alt="Custom Liked V" />
          <div class="tm-box-content">
            <div class="tm-box-title">Sultanbeyli <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-vi.png" alt="Custom Liked VI" />
          <div class="tm-box-content">
            <div class="tm-box-title">Bodrum <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-vii.png" alt="Custom Liked VII" />
          <div class="tm-box-content">
            <div class="tm-box-title">Karşıyaka <span key="likedText">Diyaliz Merkezi</span></div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--======= ADD CENTER =====-->
<div id="section-viii" class="tm-section-gradient tm-p py-5 my-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg p-3">
        <div key="addTitle" class="tm-section-title">Ücretsiz olarak kliniğinizi sistemimize dahil ederek bizler ile çalışmak ister misiniz?</div>
        <div key="addText" class="tm-text">Sizlerde kliniğinizi sistemimize dahil ederek <span>Dialysing.com</span> ailesine katılıp, hastalarınıza direkt hizmet vermeye başlayabilirsiniz.</div>
        <div><a href="/clinic" key="addCenterDialys" class="btn-second">Diyaliz Merkezinizi Ekleyin</a></div>
      </div>
      <div class="col-md">
        <img src="../user/img/custom/clinic-page.png" alt="Clinic Page" class="tm-width-100" />
      </div>
    </div>
  </div>
</div>

<!--======= GROW =====-->
<div id="section-ix" class="tm-p py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 key="growTitle" class="tm-section-title">Güveninizle büyüyoruz!</h2>
        <p key="growText" class="tm-text tm-font-semibold px-5 pr-5">
          40+ ülkede yer alan 10000’nin üzerinde diyaliz merkezi ve kliniğinde, 20+ dilde hizmet alarak kolayca ve güvenli şekilde diyaliz rezervasyonunuzu <span class="tm-color-second tm-font-semibold">Dialysing<span class="tm-color-primary">.com</span></span> ile yapabilirsiniz
        </p>
        <div class="tm-center">
          <div class="circle">
            <img src="../user/img/icons/map.png" alt="Icon Map" />
          </div>
          <div class="circle">
            <img src="../user/img/icons/language.png" alt="Icon Language" />
          </div>
          <div class="circle">
            <img src="../user/img/icons/hospital.png" alt="Icon Hospital" />
          </div>
          <div class="circle">
            <img src="../user/img/icons/hospital-2.png" alt="Icon Hospital 2" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--======= PARTNER =====-->
<div id="section-x" class="tm-bg-white tm-p">
  <div class="container">
    <div class="row">
      <div class="brands">
        <img src="../user/img/brands/JCI.png" alt="Brand JCI" class="height-100" />
        <img src="../user/img/brands/ISO.png" alt="Brand ISO" class="height-80" />
        <img src="../user/img/brands/sks.png" alt="Brand sks" class="height-100" />
        <img src="../user/img/brands/health.png" alt="Brand health" class="height-80" />
      </div>
    </div>
  </div>
</div>

<!--======= NEWSLETTER =====-->
<div id="section-xi" class="tm-bg-dark-blue">
  <div class="container tm-p-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="tm-text-white mb-3" key="newsletterText">Son gelişmelerden ve diyaliz fırsatlarından haberdar olabilmek için mail listemize abone olabilirsiniz.</div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
        <div class="form-group bottom blue-input text-center">
          <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="dialysing@demo.com.tr" />
          <img src="../user/img/icons/arrow.png" class="mt-0" alt="Icon Arrow" />
        </div>
      </div>
    </div>
  </div>
</div>
