<head>
  <link rel="stylesheet" type="text/css" href="../user/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="../user/slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="../user/css/datepicker.css" />
  <link rel="stylesheet" href="../user/css/style.css" />
  <link rel="stylesheet" href="../user/css/register/register.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>



<div class="tm-main-content" id="register">
  <%- include("../partials/top-navbar-dark") %>
  
<!-- <% if (locals.validationErrors != null) { %> <%- include('../partials/error-message') %> <% } %> -->

  <div id="section-i" class="tm-p tm-pt-20 tm-pb-20">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center mt-3 mb-2">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="register">
              <div class="circle">1</div>
              <div>Birinci Adım</div>
            </li>
            <li class="line">
              <hr />
            </li>
            <li id="acrivation">
              <div class="circle">2</div>
              <div>Aktivasyon</div>
            </li>
          </ul>
          <!-- fieldsets -->
          <div class="card-register px-0 pt-4 pb-0 mt-3 mb-3">
            <div class="title">Kayıt Ol</div>
            <div class="sub-menu">Zaten üye misiniz? <a href="">Giriş Yapın</a></div>
            <form class="tm-form-wide" action="/register" method="POST"> 
              <div class="error-handling">
                <% if (locals.validationErrors != null) { %> <%- include('../partials/error-message') %> <% } %>
                </div>
              <div class="form-group">
                <label for="name">Adınız Soyadınız</label>
                <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="<%- typeof nameSurname != 'undefined' ? nameSurname : '' %>" placeholder="Adınız Soyadınız" />
              </div>
              <div class="form-group">
                <label for="birthdate">Doğum Tarihiniz</label>
                <input type="date" class="form-control" id="birthDate" name="birthDate" value="<%- typeof birthDate != 'undefined' ? birthDate : '' %>" placeholder="Doğum Tarihiniz" />
              </div> 
              <div class="form-group">
                <label for="email">Email Adresiniz</label>
                <input type="email" class="form-control" id="email" name="email" value="<%- typeof email != 'undefined' ? email : '' %>" placeholder="Email Adresiniz" />
              </div>
              <div class="form-group password">
                <label for="login-password">Şifrenizi Giriniz</label>
                <input type="password" class="form-control" id="password" name="password" value="<%- typeof password != 'undefined' ? password : '' %>" placeholder="Şifreniz" />
                <img src="../user/img/clinic/svg/show-password.svg" alt="Icon Arrow" />
              </div>
              <div class="form-group">
                <label for="tel">Telefon Numaranız</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="<%- typeof phone != 'undefined' ? phone : '' %>" placeholder="Telefon Numaranız" />
              </div>
              <div class="form-box">
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked required />
                  <label class="form-check-label selected" for="flexCheckChecked"> Evet, lütfen beni Dialysing.com'daki seyahat fırsatları, ipuçları ve yeni özellikler hakkında bilgilendirin </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" required />
                  <label class="form-check-label" for="flexCheckChecked"> Şartlar ve Koşullar, Gizlilik Politikası ve Kişisel Verilerin İşlenmesine İlişkin Onay'ı okudum ve kabul ediyorum. </label>
                </div>
              </div>
              <div class="tm-button-next left">
                <button type="submit" class="btn-second">Sonraki Adım</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
