


<% if (errors != null){ %>
  deneme
<% } %>



<main class="container my-5">
  <form class="row g-5" action="/user/update" method="POST">
    <div class="col-lg-7">
      <h3 class="pb-4 mb-4 fst-italic">Randevularınız</h3>

      <div class="row">
        <% for( let index = 0; index < user.appointments.length; index++ ) { %>
        <div class="card card-margin">
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper mt-3">
                <!-- <% if (! user.appointments[index].active) { %>
                 Bekleme Sürecince
                <% } %> -->
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day"><%- ("0" + user.appointments[index].checkInDate.getDate()).slice(-2) %> </span>
                  <span class="widget-49-date-month"><%- ("0" + (user.appointments[index].checkInDate.getMonth() + 1)).slice(-2) %> </span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title"><%- user.appointments[index].patientNameSurname %> </span>
                  <span class="widget-49-meeting-time"><%- user.appointments[index].session %> </span>
                </div>
              </div>
              <ul class="widget-49-meeting-points">
                <li class="widget-49-meeting-item-1"><span><%- user.appointments[index].treatmentMethod %> </span></li>
                <li class="widget-49-meeting-item"><span><%- user.appointments[index].email %></span></li>
                <li class="widget-49-meeting-item"><span><%- user.appointments[index].phone %></span></li>
                <li class="widget-49-meeting-item"><span><%- user.appointments[index].dialysisCenter %> </span></li>
                <li class="widget-49-meeting-item"><span><%- user.appointments[index].insurance %> </span></li>
              </ul>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="col-lg-5" id="account">
      <div class="position-sticky" style="top: 2rem">
        <div class="p-4 mb-3 bg-light rounded">
          <h3 class="fst-italic">Hesap Ayarları</h3>
          <div class="mb-3">
            <label for="nameSurname" class="form-label">Adınız Soyadınız</label>
            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="<%- user.nameSurname  %>" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email Adresiniz</label>
            <input type="email" class="form-control" id="email" name="email" value="<%- user.email  %>" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Telefon Numaranız</label>
            <input type="text" class="form-control" id="phone" name="phone" value="<%- user.phone  %>" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input type="password" class="form-control" name="password" id="password" value="<%- user.password %>" />
          </div>
          <button type="submit" class="nav-link btn-register mt-2">Değişiklikleri Kaydet</button>
        </div>
      </div>
    </div>
  </form>
</main>
