<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Kliniği Onayla</h4>
  </div>
  <div class="page-rightheader ml-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#" class="d-flex"
          ><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
            <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" /></svg
          ><span class="breadcrumb-icon"> Home</span></a
        >
      </li>
      <li class="breadcrumb-item"><a href="#">Apps</a></li>
      <li class="breadcrumb-item"><a href="#">User List</a></li>
      <li class="breadcrumb-item active" aria-current="page">User List 01</li>
    </ol>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row flex-lg-nowrap">
  <div class="col-12">
    <div class="row flex-lg-nowrap">
      <div class="col-12 mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered border-top text-nowrap" id="example1">
                  <thead>
                    <tr>
                      <th class="align-top border-bottom-0 wd-5"></th>
                      <th class="border-bottom-0 w-20">Klinik İsmi</th>
                      <th class="border-bottom-0 w-15">Katılma Tarihi</th>
                      <th class="border-bottom-0 w-30">Klinik Sahibi</th>
                      <th class="border-bottom-0 w-10">Aksiyon</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% centers.forEach(center => { %>
                    <tr>
                      <td class="align-middle">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2" />
                          <span class="custom-control-label"></span>
                        </label>
                      </td>
                      <td class="align-middle">
                        <div class="d-flex">
                          <span class="avatar brround avatar-md d-block" style="background-image: url(../../assets/images/users/2.jpg)"></span>
                          <div class="ml-3 mt-1">
                            <h6 class="mb-0 font-weight-bold"><%- center.companyInformation.companyName   %> </h6>
                          </div>
                        </div>
                      </td>
                      <td class="text-nowrap align-middle"><span><%- center.createdAt  %> </span></td>
                      <td class="text-nowrap align-middle">
                        <h6 class="mb-0 font-weight-bold"><%- center.personalInformation.nameSurname %> </h6>
                      </td>
                      <td class="align-middle">
                        <div class="btn-group align-top">
                          <a class="btn btn-sm btn-white btn-svg" href="/admin/confirm-clinic/<%- center._id  %>" ><%= i18n.__("3") %> </a>
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end app-content-->
  </div>

  <!--Footer-->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">Copyright © 2020 <a href="#">Dashtic</a>. Designed by <a href="#">Spruko Technologies Pvt.Ltd</a> All rights reserved.</div>
      </div>
    </div>
  </footer>
  <!-- End Footer-->
</div>
